.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 8px 12px;
  width: 100%;
}

.rightSideContainer {
  display: flex;
  align-items: center;
  gap: 8px
}

.buttonsContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}