.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
  padding: 8px 12px;
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  background-color: var(--mantine-color-body);
  border-bottom: 1px solid var(--mantine-color-default);
}

.rightSideContainer {
  display: flex;
  align-items: center;
  gap: 8px
}

.buttonsContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}